.Avada-TimeSettings__Content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 20px;
}
@media only screen and (min-width: 1080px) {
  .Avada-TimeSettings__Content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
}
