.Avada-Settings__Container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 50px 0;
}

.Avada-Settings__NotificationsPopup {
  margin: 0 15px 20px 0;
}

.Avada-Settings__Content {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .Avada-Settings__Content {
    width: 95%;
  }
}

@media only screen and (min-width: 992px) {
  .Avada-Settings__Content {
    width: 65%;
  }
}
